
.checkoutHeader{
    background-image: url(./header-bkg.png);
}
.mainParent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
}

.stickyDiv {
    background-color: #ffffff!important;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}