.filter {
	border-right: 1px solid #cccccc;
}

.category-product img {
	/* border-radius: 22px; */
	border-bottom: 1px solid #eee;
}
.img-container {
	background-color: #dddddd2f;
}
.price {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 0;
}
.flag-ships h2 {
	color: rgb(111 62 198);
	font-weight: bold;
}

.product-rating {
	font-size: 16px;
}
p {
	font-weight: 500;
}
.price-rating {
	margin-right: 6px !important;
}
[dir="rtl"] .price-rating {
	margin-left: 6px;
	margin-right: 0;
}
[dir="rtl"] .filter {
	border-left: 1px solid #cccccc;
}
