.submit {
    background-color: #ffd814;
    color: rgb(14, 14, 14);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    font-weight: bolder;
    font-size: 12px;
}

h2 {
    font-weight: bold;
    font-size: 22px;
}

.submit:hover {
    background-color: #ff9900;
    text-decoration: none;
}
.sub {
    background-color: rgb(250, 247, 247);
    border: 1px solid rgb(145, 145, 145);
    border-radius: 5px;
}
.sub:hover {
    background-color: rgb(218, 218, 218);
}
.ptn {
    -moz-box-shadow: 0 4px 6px -6px #1e3360;
    box-shadow: 0 4px 6px -6px #1e3360;
}

a {
    text-decoration: none;
    font-size: 14px;
}

p {
    font-size: 14px;
}

.foot {
    justify-content: space-around;
    box-shadow: 0 -5px 5px -5px #1e3360;
}
#lab,
a,
#para,
#par2 {
    color: #146eb4;
    cursor: pointer;
}

a:hover,
#para:hover,
#par2:hover,
#lab:hover {
    color: #561e14;
    text-decoration: underline;
}
h6 {
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid #a6a8a6;
    color: #a6a8a6;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 14px;
}

h6 span {
    background: #fff;
    padding: 0 10px;
}
